body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
    margin-top: 30px;
}

.glyphicon-big {
    font-size: 5em;
    color: #bbb;
    text-shadow: 1px 1px 0px white;
}